.ByButton {
  padding: 15px 34px;
  background-color: #ffffff;
  color: #545454;
  border-radius: 26px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ByButton:hover {
  background-color: #9054f8;
  color: white;
  transition: all 0.3s ease;
}
