* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #252524;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
