* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: #252524;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.rows-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 104vh;
}
